!!!
%html
  %head
    %title Amazone
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    = yield :head
  %body
    
    / The main header displayed on all pages
    / Sometimes will be shorted as the page content dictates.
    %div.container
      %header.main{:class => @full_header ? 'full' : 'basic'}
        .inner
          / Primary navigation
          %nav.navbar.navbar-inverse.navbar-static-top
            %ul
              %li= link_to "Home", root_path, :nav_item => :home
              
            %h1= link_to "Amazone", root_path
          
          - if @full_header
            %h2 Welcome to our <em>shoppe</em>.
            %p.intro Check out our lovely products on this page and then you can buy them through the website with just a few clicks using our supremely simple ordering system.
        
        - if @full_header
          .bar
            .inner
              %p.call Call us today on <b>01202 901 101</b> if you have any questions.
              %p.offer <b>This week only!</b> FREE next day shipping on all orders over &pound;30.
    
    - if @current_order
      %p{style="border:1px solid black;padding:10px;"}
      %p You have 
      %span.item= pluralize current_order.total_items 
      %p in your basket which cost
      %span= number_to_currency current_order.total_before_tax
    
    
    %div.container
      / Main content section
      %section.content
        .inner
        
          / Sidebar
          %section.sidebar
            - if content_for?(:sidebar)
              = yield :sidebar
            - else
             
        
          / Primary section
          %section.primary
            = yield
            
    %div.container    
      / Footer
      %footer.main
        .inner
        
          / Useful footer links (policies etc...)
          %ul.links
           
        
          / Copyright & trademark information
          .copyright
            %p &copy; #{Date.today.year} Shoppe. All Rights Reserved.
            %p All third party logos &amp; product images &copy; their respective owners.
            %p
              Shoppe is a trading name of Niftyware Limited.<br />
              Company registration number: 8514362.<br />
              VAT registration number: GB 123 123 123.
          

